<div class="pull-right">
  <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
</div>
<h1><%= @text %></h1>
<% @posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= post.user.name %> <span style="color:#989898">@<%= post.user.username %></span>
        <div class="pull-right">
           <%= link_to "Show", post_path(post) %>
        </div>
      </h3>
    </div>
    <div class="panel-body">
      <%= post %>
      <br />
      <div class="pull-right text-muted" style="font-size:0.9em;">
        <%= post.created_at.to_formatted_s(:long_ordinal) %>
      </div>
    </div>
  </div>
<% end %>

<div class="text-center">
  <%= paginate @posts, theme:"twitter-bootstrap-3"%>
</div>

<%= render 'sidebar'%>
