<h1>
  <%= link_to fa_icon("arrow-left"), posts_path %>
  <%= @text %>
</h1>

<%= form_for Post.new do |f| %>

  <div class="form-group">
    <%=f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= f.hidden_field :user_id, value: User.first.id %>
  <%= f.submit "Post", class: "btn btn-default"%>

<% end %>
