<div class="pull-right">
  <div class="btn-group">
    <%=link_to fa_icon("comment"), new_comment_path(post_id: @post.id), class:"btn btn-primary"%>
    <% if @post.user == current_user %>
      <%=link_to fa_icon("pencil"), edit_post_path(@post), class:"btn btn-default"%>
      <%=link_to fa_icon("trash-o"), post_path(@post), method: :delete, data: {confirm:"Are You Sure?"}, class:"btn btn-danger"%>
    <% end %>
  </div>
</div>
<h1>
  <%= link_to fa_icon("arrow-left"), posts_path %>
  <%= @text %>
</h1>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading"><%= @post.user.name %></h4>
    <%= @post %>
    <br />
    <div class="pull-right text-muted" style="font-size:0.9em;">
      last updated <%= @post.updated_at.to_formatted_s(:long_ordinal) %>
    </div>
    <hr />
  </div>
</div>

<% @comments.each do |comment| %>
  <div class="media comment">
    <div class="media-body">
      <h4 class="media-heading">
        <% if comment.user == current_user %>
          <div class="btn-group pull-right">
            <%=link_to fa_icon("pencil"), edit_comment_path(comment), class:"btn btn-default"%>
            <%=link_to fa_icon("trash-o"), comment_path(comment), method: :delete, data: {confirm:"Are You Sure?"}, class:"btn btn-danger"%>
          </div>
        <% end %>
        <%= comment.user.name %>
      </h4>
      <%= comment.content %>
      <br />

      <div class="pull-right text-muted" style="font-size:0.9em;">
        last updated <%= comment.updated_at.to_formatted_s(:long_ordinal) %>
      </div>
      <hr />
    </div>
  </div>
<% end %>
